html, body {
    padding: 0;
    margin: 0 auto;
}
.container {
    font-family: sans-serif;
    color: white;
    .header-container {
        margin-bottom: 20px;
    }
    header {
        background: #161e55;
        padding: 10px 20px;
        .brand-area {
            display: flex;
            p {
             position: relative;
             top: 5px;
             margin: 0;
             float: left;
             margin-right: 10px;
            }
        }
        .searchbar-area {
            display: flex;
            width: 100%;
            .select-button-container {
              select {
                  float: left;
                  border: none;
                  background: #dfdfdf;
                  border-bottom-left-radius: 5px;
                  border-top-left-radius: 5px;
                  width: 100px;
                  height: 26px;
                  padding: 5px 10px;
              } 
            }
            input {
                float: left;
                height: 16px;
                border: none;
                padding: 5px 10px;
                width: 50%;
            }
            .search-button-container {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                text-align: center;
                width: 30px;
                height: 26px;
                background: #3f66ad;
                float: left;
                .fas {
                    position: relative;
                    top: 5px;
                }
            }
        }
    .bottom-nav-area {
        display: flex;
        .department-selection-section {
            flex-grow: 2;
            position: relative;
            top: 20px;
        }
        .department-selection {
            width: 100px;
            display: flex;
            cursor: pointer;
            h4 {
                margin: 0;
            }
        }
        .department-list-area {
            display: none;
        }
        .show-department-list-area {
            border-radius: 5px;
            border: 1px solid lightgray;
            cursor: pointer;
            padding: 0;
            margin: 0;
            display: block;
            position: absolute;
            top: 50%;
            width: 230px;
            background: white;
            color: #2b2b2b;
            font-size: .95rem;
            transition: .1s ease-in-out;
            ul {
                margin: 0;
                padding: 5px 3px;
                li {
                    margin: 8px 0px;
                    list-style-type: none;
                    transition: all .05s ease-in-out;
                    &:hover {
                        font-size: 1rem;
                        background: #ebebeb;
                        color: #363688;
                    }
                }
            }
        }

        .right-navigation-section {
            display: flex;
            flex-direction: row;
            section {
                margin: 0 20px;
                &:hover {
                    cursor: pointer;
                }
            }
            p {
                margin: 0;
            }
            .language-section {
                flex-direction: column;
                
            }
            .greeting-section {
                p {
                    position: relative;
                    top: 20px;
                }
            }
            .lists-section {
                p {
                    position: relative;
                    top: 20px;
                }
                .lists-box {
                    padding: 10px 20px;
                    background: white;
                    position: absolute;
                    top: 103px;
                    color: #3d3d3d;
                    border: 1px solid lightgray;
                    border-radius: 5px;
                    h3 {
                        margin: 0;
                    }
                    .list {
                        border-bottom: 1px solid #3d3d3d;
                        margin: 5px 0px;
                    }
                    button {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

    .shopping-cart-area {
        float: right;
        .cart-number {
            margin-right: 5px;
            color: orange;
            position: relative;
            top: 20px;
        }
        .cart-icon-area {
            position: relative;
            top: 20px;
        }
        .cart-popup {
                display: none;
                border: 1px solid #2b2b2b;
                border-radius: 5px;
                font-size: .95rem;
                background: white;
                padding: 10px;
                color: #2b2b2b;
                text-align: center;
                position: absolute;
                right: 2%;
                top: 150px;
                button {
                    border: none;
                    border-radius: 5px;
                    background: #5277dd;
                    color: white;
                    padding: 5px 8px;
                }
            } 
            .show-cart-popup {
                display: block;
                border: 1px solid #2b2b2b;
                border-radius: 5px;
                font-size: .95rem;
                background: white;
                padding: 10px;
                color: #2b2b2b;
                text-align: center;
                position: absolute;
                right: 2%;
                top: 110px;
                button {
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    background: #5277dd;
                    color: white;
                    padding: 5px 8px;
                    transition: .1s ease-in-out;
                    &:hover {
                        background: #3d579c;
                    }
                }
            }
        }
    }
}
    .main-content-area {

    }
}
