html, body {
  padding: 0;
  margin: 0 auto;
}

.container {
  font-family: sans-serif;
  color: white;
}

.container .header-container {
  margin-bottom: 20px;
}

.container header {
  background: #161e55;
  padding: 10px 20px;
}

.container header .brand-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container header .brand-area p {
  position: relative;
  top: 5px;
  margin: 0;
  float: left;
  margin-right: 10px;
}

.container header .searchbar-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container header .searchbar-area .select-button-container select {
  float: left;
  border: none;
  background: #dfdfdf;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: 100px;
  height: 26px;
  padding: 5px 10px;
}

.container header .searchbar-area input {
  float: left;
  height: 16px;
  border: none;
  padding: 5px 10px;
  width: 50%;
}

.container header .searchbar-area .search-button-container {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  width: 30px;
  height: 26px;
  background: #3f66ad;
  float: left;
}

.container header .searchbar-area .search-button-container .fas {
  position: relative;
  top: 5px;
}

.container header .bottom-nav-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container header .bottom-nav-area .department-selection-section {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  position: relative;
  top: 20px;
}

.container header .bottom-nav-area .department-selection {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.container header .bottom-nav-area .department-selection h4 {
  margin: 0;
}

.container header .bottom-nav-area .department-list-area {
  display: none;
}

.container header .bottom-nav-area .show-department-list-area {
  border-radius: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  top: 50%;
  width: 230px;
  background: white;
  color: #2b2b2b;
  font-size: .95rem;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.container header .bottom-nav-area .show-department-list-area ul {
  margin: 0;
  padding: 5px 3px;
}

.container header .bottom-nav-area .show-department-list-area ul li {
  margin: 8px 0px;
  list-style-type: none;
  -webkit-transition: all .05s ease-in-out;
  transition: all .05s ease-in-out;
}

.container header .bottom-nav-area .show-department-list-area ul li:hover {
  font-size: 1rem;
  background: #ebebeb;
  color: #363688;
}

.container header .bottom-nav-area .right-navigation-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container header .bottom-nav-area .right-navigation-section section {
  margin: 0 20px;
}

.container header .bottom-nav-area .right-navigation-section section:hover {
  cursor: pointer;
}

.container header .bottom-nav-area .right-navigation-section p {
  margin: 0;
}

.container header .bottom-nav-area .right-navigation-section .language-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container header .bottom-nav-area .right-navigation-section .greeting-section p {
  position: relative;
  top: 20px;
}

.container header .bottom-nav-area .right-navigation-section .lists-section p {
  position: relative;
  top: 20px;
}

.container header .bottom-nav-area .right-navigation-section .lists-box {
  width: 200px;
  display: none;
  padding: 10px 20px;
  background: white;
  position: absolute;
  top: 103px;
  color: #3d3d3d;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.container header .bottom-nav-area .right-navigation-section .lists-box h3 {
  margin: 0;
}

.container header .bottom-nav-area .right-navigation-section .lists-box .list {
  border-bottom: 1px solid #3d3d3d;
  margin: 5px 0px;
}

.container header .bottom-nav-area .right-navigation-section .lists-box button:hover {
  cursor: pointer;
}

.container header .bottom-nav-area .right-navigation-section .show-list-box {
  display: block;
  padding: 10px 20px;
  background: white;
  position: absolute;
  top: 103px;
  color: #3d3d3d;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.container header .bottom-nav-area .right-navigation-section .show-list-box h3 {
  margin: 0;
}

.container header .bottom-nav-area .right-navigation-section .show-list-box .list {
  border-bottom: 1px solid #3d3d3d;
  margin: 5px 0px;
}

.container header .bottom-nav-area .right-navigation-section .show-list-box button:hover {
  cursor: pointer;
}

.container header .bottom-nav-area .shopping-cart-area {
  float: right;
}

.container header .bottom-nav-area .shopping-cart-area .cart-number {
  margin-right: 5px;
  color: orange;
  position: relative;
  top: 20px;
}

.container header .bottom-nav-area .shopping-cart-area .cart-icon-area {
  position: relative;
  top: 20px;
}

.container header .bottom-nav-area .shopping-cart-area .cart-popup {
  display: none;
  border: 1px solid #2b2b2b;
  border-radius: 5px;
  font-size: .95rem;
  background: white;
  padding: 10px;
  color: #2b2b2b;
  text-align: center;
  position: absolute;
  right: 2%;
  top: 150px;
}

.container header .bottom-nav-area .shopping-cart-area .cart-popup button {
  border: none;
  border-radius: 5px;
  background: #5277dd;
  color: white;
  padding: 5px 8px;
}

.container header .bottom-nav-area .shopping-cart-area .show-cart-popup {
  display: block;
  border: 1px solid #2b2b2b;
  border-radius: 5px;
  font-size: .95rem;
  background: white;
  padding: 10px;
  color: #2b2b2b;
  text-align: center;
  position: absolute;
  right: 2%;
  top: 110px;
}

.container header .bottom-nav-area .shopping-cart-area .show-cart-popup button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #5277dd;
  color: white;
  padding: 5px 8px;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.container header .bottom-nav-area .shopping-cart-area .show-cart-popup button:hover {
  background: #3d579c;
}

.container .main-content-section {
  padding: 30px;
  color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .main-content-section .main-content-cart-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container .main-content-section .main-content-cart-wrapper h2 {
  margin: 0;
}

.container .main-content-section .main-content-cart-wrapper p {
  width: 600px;
}

.container .main-content-section .right-side-content-wrapper {
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.container .main-content-section .right-side-content-wrapper .buy-again-list {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .main-content-section .right-side-content-wrapper .buy-again-list div {
  width: 250px;
}

.container .main-content-section .right-side-content-wrapper .buy-again-list div .buy-again-image {
  width: 150px;
  height: 100px;
}

.container .main-content-section .right-side-content-wrapper .buy-again-list .buy-again-item .buy-again-image {
  float: left;
  width: 100px;
  height: 100px;
}

.container .main-content-section .right-side-content-wrapper .buy-again-list .buy-again-item .buy-again-info p {
  margin: 0;
}
/*# sourceMappingURL=index.css.map */